@font-face {
    font-family: 'PingFangSC-Medium'; src: url('../assets/font/PingFang Medium.ttf');
}

/* 基础设置 */
.container {
    width: 1190px;
    /* 页面居中 */
    margin: 0 auto;
}

/* 顶部导航条 start */
.topbar {
    height: 30px;
    background-color: #ececec;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}

.welcome span, .welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    /* 用padding是因为margin在border外面，对border不生效 */
    padding-right: 10px;
    border-right: 1px solid #666;
}

.welcome .register {
    padding-left: 10px;
}

/* 在div内垂直居中 */
.topbar-nav ul {
    height: 30px;
    line-height: 30px;
}

.topbar-nav ul>li {
    /* display: inline-block; 应改用浮动（左）*/
    /* 垂直居中应找父元素ul定义 */
    float: left;
}

.topbar-nav ul>li>a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-nav ul>li:first-child a {
    padding-left: 0;
}

.topbar-nav ul>li:last-child a{
    border-style: none;
    padding-right: 0;
}

.header {
    height: 120px;
    /* background-color: papayawhip; */
}

.header .search form {
    margin-top: 42px;
    /* 取消元素之间的边距 */
    font-size: 0;
}

.header .search input {
    height: 34px;
    width: 508px;
    /* 设置边框 宽高应各自减去边框像素*2 */
    border: 1px solid #DD302D;

}

.header .search button {
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    /* input和button没对齐，因为有文字，90%是基线造成的问题。这里采用vertical-align属性解决问题  */
    vertical-align: top;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .all-types {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: white;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}

/* 垂直居中需要写在父元素中 */
.main-nav .main-nav-list {
    height: 48px;
    line-height: 48px;
}

.main-nav .main-nav-list li {
    font-size: 16px;
    float: left;
    margin: 0 10px;
}

.main-content {
    margin-top: 10px;
}

.main-content .side-nav {
    width: 190px;
    height: 458px;
    background-color: #f4f4f4;
    position: relative;
}

.main-content .side-nav li {
    font-size: 14px;
    color:#333;
    /* 除了使用margin控制边距，还可以计算行高 */
    /* margin: 7px 0 7px 16px; */
    /* height: 28px; */
    line-height: 28px;
    /* 悬浮出现背景色，所以不用margin用padding */
    padding-left: 16px;
}

.main-content .side-nav li:hover,
.main-content .side-nav li:hover>a {
    background-color: #DD302D;
    color: white;
}

/* 先定义好尺寸和位置隐藏起来 */
.main-content .side-nav .second-menu {
    width: 680px;
    height: 458px;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    background-color: white;
    display: none;
}

/* 当鼠标悬浮在<li>上时再出现 */
.main-content .side-nav li:hover .second-menu {
    display: block;
}

.second-menu dl {
    height: 36px;
    line-height: 36px;
}

.second-menu dl:first-of-type {
    margin-top: 10px;
}

/* 让定义列表横向排列 */
.second-menu dt {
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.second-menu dd {
    float: left;
}

.second-menu dd a {
    border-left: 1px solid #666;
    /* 小细节 */
    padding: 0 10px;
}


.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: pink;
    margin: 0 10px;
}

.main-content .side-other {
    width: 290px;
    height: 458px;
    /* background-color: beige; */
}

.side-other .message {
    padding: 0 14px;
    width: 260px;
    height: 156px;
    border: 1px solid rgba(217,217,217,1);
}

.side-other .message .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #d9d9d9;
}

.side-other .message .title span {
    font-size: 14px;
}

.side-other .message .title a {
    font-size: 12px;
    color: #999;
}

.side-other .message .msg-list {
    /* 上下边距相等，各取一半加上自身高度 */
    height: 26px;
    line-height: 26px;
}

.side-other .other-nav {
    margin-top: 10px;
    width: 290px;
    height: 290px;
    /* background-color: cadetblue; */
    /* fix margin collapse for first child */
    overflow: hidden;
}

.other-nav .other-nav-list:first-child {
    margin-top: 16px;
}

.other-nav .other-nav-list:nth-child(2) {
    /* 踩坑：类忘记加了clearfix 如果第二个ul没有清除浮动，第3个ul外边距不会生效 */
    margin: 17px 0;
}

.other-nav .other-nav-list li {
    width: 48px;
    height: 70px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor:pointer;
    /* background-color: yellowgreen; */
}

.other-nav .other-nav-list li:first-child {
    margin-left: 16px;
}

.other-nav .other-nav-list li:last-child {
    margin-right: 16px;
}

.other-nav .other-nav-list .pic {
    width: 48px;
    height: 48px;
    background-image: url(../images/精灵图-侧边功能.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

/* X轴依次平移-48px，Y轴处于原点 */
.other-nav .other-nav-list:nth-child(1) li:nth-child(1) .pic {
    background-position: calc(0 * -48px) calc(0 * -48px);
}

.other-nav .other-nav-list:nth-child(1) li:nth-child(2) .pic {
    background-position: calc(1 * -48px) calc(0 * -48px);
}

.other-nav .other-nav-list:nth-child(1) li:nth-child(3) .pic {
    background-position: calc(2 * -48px) calc(0 * -48px);
}

.other-nav .other-nav-list:nth-child(1) li:nth-child(4) .pic {
    background-position: calc(3 * -48px) calc(0 * -48px);
}

/* X轴依次平移-48px,y轴每次固定平移-48px */
.other-nav .other-nav-list:nth-child(2) li:nth-child(1) .pic {
    background-position: calc(0 * -48px) calc(1 * -48px);
}

.other-nav .other-nav-list:nth-child(2) li:nth-child(2) .pic {
    background-position: calc(1 * -48px) calc(1 * -48px);
}

.other-nav .other-nav-list:nth-child(2) li:nth-child(3) .pic {
    background-position: calc(2 * -48px) calc(1 * -48px);
}

.other-nav .other-nav-list:nth-child(2) li:nth-child(4) .pic {
    background-position: calc(3 * -48px) calc(1 * -48px);
}

/* X轴依次平移-48px,y轴每次固定平移-96px */
.other-nav .other-nav-list:nth-child(3) li:nth-child(1) .pic {
    background-position: calc(0 * -48px) calc(2 * -48px);
}

.other-nav .other-nav-list:nth-child(3) li:nth-child(2) .pic {
    background-position: calc(1 * -48px) calc(2 * -48px);
}

.other-nav .other-nav-list:nth-child(3) li:nth-child(3) .pic {
    background-position: calc(2 * -48px) calc(2 * -48px);
}

.other-nav .other-nav-list:nth-child(3) li:nth-child(4) .pic {
    background-position: calc(3 * -48px) calc(2 * -48px);
}

/*TODO 试解决把分区合并至main-content，则margin塌陷问题 */
.seckill {
    margin-top: 10px;
    margin-bottom: 48px;
}

.seckill img {
    /* display: inline-block; 能用浮动，别用这个 */
    float: left;
    margin-right: 11px;
    cursor:pointer;
}

.seckill img:last-child {
    margin-right: 0;
}

.floor {
    margin-top: 48px;
}

.floor-nav {
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor-nav .floor-name {
    font-size: 20px;
    font-weight: bold;
}

.floor-nav .floor-nav-list li {
    /** ul右浮，li左浮，否则顺序RTL */
    /*TODO 找到父元素 添加clearfix */
    float: left;
}

.floor-nav .floor-nav-list li a {
    font-size: 16px;
    padding: 0 10px;
    border-left: 1px solid #666;
}

.floor-nav .floor-nav-list li:first-child a {
    border-left: 0;
    color: #DD302D;
}

.floor-nav .floor-nav-list li:last-child a {
    padding-right: 0px;
}

.floor-info .item {
    float: left;
    height: 432px;
}

.floor-info .item1 {
    width: 190px;
    height: 392px;
    background-color: #f4f4f4;
    padding: 20px;
}

/* .floor-info .item1 .top-item {
    width: 190px;
    height: 108px;
} */

.floor-info .item1 .top-item ul li {
    width: 90px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
}

.floor-info .item1 .top-item ul li:nth-child(2n-1) {
    float: left;
}

.floor-info .item1 .top-item ul li:nth-child(2n) {
    float: right;
}

.floor-info .item1 .top-item ul li:nth-child(3),
.floor-info .item1 .top-item ul li:nth-child(4) {
    margin: 14.4px 0;
}

.floor-info .item img {
    cursor: pointer;
}

.floor-info .item1 img {
    margin: 31px 0;
}

.floor-info .item2 {
    width: 340px;
}

.floor-info .item3,
.floor-info .item4,
.floor-info .item5 {
    width: 206px;
}

.floor-info .item3,
.floor-info .item4 {
    border-right: 1px solid #e2e2e2;
}

.floor-info .item3 img,
.floor-info .item4 img,
.floor-info .item5 img {
    border-bottom: 1px solid #e2e2e2;
}